@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bg-ffxiv-opacity: 0.9;
        --rgb-primary: 32, 36, 66;
        --rgb-secondary: 37, 41, 74;
        --color-primary: rgb(var(--rgb-primary));
        --color-secondary: rgb(var(--rgb-secondary));

        --color-highlight-1: rgb(37, 99, 235);
    }

    @font-face {
        font-family: 'Material Symbols Outlined';
        font-style: normal;
        font-weight: 400;
        src: url(/fonts/Material-Symbols-Outlined.woff2) format('woff2');
    }

    @font-face {
        font-family: Chelsea Market;
        src: url(/fonts/ChelseaMarket-Regular.ttf) format("opentype");
    }

    @font-face {
        font-family: Catamaran;
        src: url(/fonts/catamaran.woff2) format("woff2");
    }

    @font-face {
        font-family: Poppins;
        src: url(/fonts/Poppins-Regular.ttf) format("opentype");
    }

    @font-face {
        font-family: Poppins;
        src: url(/fonts/Poppins-Regular.ttf) format("opentype");
    }
}

#sidebar {
    background-image: linear-gradient(rgba(var(--rgb-primary), var(--bg-ffxiv-opacity)), rgba(var(--rgb-primary), var(--bg-ffxiv-opacity))), url(/img/tiny/ffxiv-2.jpg);
    background-position: 73% 15%;
}

.bg-custom-ffxiv {
    background-image: linear-gradient(rgba(var(--rgb-secondary), var(--bg-ffxiv-opacity)), rgba(var(--rgb-secondary), var(--bg-ffxiv-opacity))), url(/img/tiny/ffxiv.webp);
    background-position: 55% 30%;
    background-size: cover;
    background-repeat: no-repeat;
}

.loader {
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.vertical-divider {
    border-left: 6px solid white;
    height: 100%;
}